<h2>Stupid coaching</h2>
<p>Ask me anything!</p>

<form action="/answer">
  <input type="text" name="answer" placeholder="Write something" value="<%=params[:answer]%>">
  <input type="submit" value="Ask!">
</form>

